# Make this unique, and don't share it with anybody.
SECRET_KEY = '^(h^15l!5nyk+(-r1dgxfj%l=jz#!6=_j35lc(-6eo_*vvok6h'

TEMPLATE_DEBUG = DEBUG = True

# Absolute path to the directory static files should be collected to.
# Don't put anything in this directory yourself; store your static files
# in apps' "static/" subdirectories and in STATICFILES_DIRS.
# Example: "/home/media/media.lawrence.com/static/"
STATIC_ROOT = '/…/static/'

# URL prefix for static files.
# Example: "http://media.lawrence.com/static/"
STATIC_URL = '/userman2/static/'

# LDAP Settings
LDAP_HOST = "ldaps://frans.chnet"
LDAP_USER = "cn=admin,dc=ank,dc=chnet"
f = open("/etc/ldap.secret")
LDAP_PASS = f.read().strip()
f.close()
LDAP_BASE = 'dc=ank,dc=chnet'
LDAP_ACTIONDN = 'ou=Actions,' + LDAP_BASE
LDAP_USERDN = 'ou=People,' + LDAP_BASE
LDAP_GROUPDN = 'ou=Group,' + LDAP_BASE
LDAP_COMPUTERDN = 'ou=Computers,' + LDAP_BASE
LDAP_ALIASDN = 'ou=Aliases,' + LDAP_BASE
MIN_GROUP_ID = 1000
MAX_GROUP_ID = 1500
MIN_COMPUTER_ID = 5000
MAX_COMPUTER_ID = 5500
MIN_USER_ID = 1500
MAX_USER_ID = 2500
MACHINE_GIDNUMBER = 1102
USER_GIDNUMBER = 100
import time
ANK_HOME_BASE = '/export/gebruikers/' + time.strftime('%Y') + '/'
CH_HOME_BASE = '/home/' + time.strftime('%Y') + '/'
DEFAULT_SHELL = '/bin/bash'
GRAVEYARD_DIR = '/var/local/graveyard/'
ADMIN_MAIL = 'pccom@ch.tudelft.nl'
USERMAN_PREFIX='/userman2'