{% extends "base.html" %}
{% block title %}Userman2 — Manage Computers{% endblock %}
{% load static %}
{% block content %}
<div class="col-xs-4">
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                Computer
                <a href="{% url 'addComputer' %}">
                    <i class="far fa-plus-square"></i>
                </a>
            </th>
        </tr>
    </thead>
    {% for computer in computers %}
    <tr>
        <td style="width: 32px;"><a href='{{ computer.uid|urlencode }}/rm'><i class="far fa-minus-square"></i></td>
        <td>{{ computer.uid }}</td>
    </tr>
    {% endfor %}
    <tr class='total'>
        <td></td>
        <td>{{ count }}</td>
    </tr>
</table>
</div>
{% endblock %}