{% extends "base.html" %}
{% block title %}CH User Manager — Manage Computers{% endblock %}
{% load static %}
{% block content %}
    <table>
        <tr class='title'>
            <td></td>
            <td>Name</td>
        </tr>
        {% for computer in computers %}
            <tr class='{% cycle odd,even %}'>
                <td><a href='{{ computer.uid|urlencode }}/rm'><img src='{% get_static_prefix %}delete.png'
                                                                   alt='Delete'/></a></td>
                <td>{{ computer.uid }}</td>
            </tr>
        {% endfor %}
        <tr class='total'>
            <td></td>
            <td>{{ count }}</td>
        </tr>
    </table>
{% endblock %}
