{% extends "base.html" %}
{% block title %}Userman2 — Editing {{ group.cn }}{% endblock %}
{% load userman_tags %}
{% load static %}
{% block content %}
<div class="col-xs-6">
    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan='3'>
                    {% if group.gidNumber %}
                        Group
                    {% else %}
                        Alias
                    {% endif %}
                </th>
            </tr>
        </thead>
        <tr>
            <td>&nbsp;</td>
            <td>CN:</td>
            <td>{{ group.cn }}</td>
        </tr>
        {% if group.gidNumber %}
        <tr>
            <td>&nbsp;</td>
            <td>GIDNumber:</td>
            <td>{{ group.gidNumber }}</td>
        </tr>
        {% endif %}
        <tr>
            <td>&nbsp;</td>
            <td>Type:</td>
            <td>{{ group.parent }}</td>
        </tr>
        <thead>
            <tr>
                <th colspan='3'>
                    Members <a href='adduser/'><i class="fas fa-user-plus"></i></a>
                </th>
            </tr>
        </thead>
        {% for member in group.members %}
        <tr>
            <td style="width: 32px;">
                {% if group.gidNumber %}
                <a href='rmuser/{{ member }}/' title="Remove user from group" onclick="return confirm('Really remove user {{ member }} from group {{ group.cn }}?')">
                {% else %}
                <a href='rmuser/{{ member }}/' title="Remove user from alias" onclick="return confirm('Really remove user {{ member }} from alias {{ group.cn }}?')">
                {% endif %}
                   <i class="fas fa-user-minus"></i>
                </a>
            </td>
            {% if group.gidNumber %}
            <td colspan='2'><a href='{% url 'userman2.views.users.displayUser' member %}'>{{ member }}</a></td>
            {% else %}
            <td colspan='2'>{{ member|aliaslink }}</td>
            {% endif %}
        </tr>
        {% endfor %} {% if group.gidNumber %}
        <thead>
            <tr>
                <th colspan='3'>
                    Primary Members
                </th>
            </tr>
        </thead>
        {% for member in group.getPrimaryMembers %}
        <tr>
            <td></td>
            <td colspan='2'><a href='{% url 'userman2.views.users.displayUsers' %}'>{{ member }}</a></td>
        </tr>
        {% endfor %} {% endif %}
    </table>
    <p><a href='rm/' onclick="return confirm('Really remove {{ group.cn }}?')">Remove</a></p>
</div>
{% endblock %}