{% extends "base.html" %}
{% block title %}Userman2 — Manage Aliases{% endblock %}
{% load static %}
{% block content %}

<form method="get">
    <p>
        {{ form.cn }}
        {{ form.uid }}
        <button><i class="fas fa-search"></i></button>
    </p>
</form>

{% for groupou in groups.items %}
<table class='group table'>
    <thead>
        <tr class='title'>
            <th colspan='2'>
                {{ groupou.0 }}
                {% if not form.uid.value %}
                <a href='{{ request.get_full_path }}/{{ groupou.0 }}/add'>
                    <i class="far fa-plus-square"></i>
                </a>
                {% endif %}
            </th>
        </tr>
    </thead>
    {% for group in groupou.1 %}
        <tr>
            <td><a href='{{ request.path }}/{{ group.cn }}'><i class="far fa-edit"></i></a></td>
            <td>{{ group.cn }}</td>
        </tr>
    {% endfor %}
</table>
</div>
{% endfor %}

{% endblock %}
