{% extends "base.html" %}
{% block title %}Userman2 — Editing {{ group.cn }}{% endblock %}
{% load userman_tags %}
{% load static %}
{% block content %}
<div class="col-xs-6">
    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan='3'>
                    {% if group.gidNumber %}
                        Group
                    {% else %}
                        Alias
                    {% endif %}
                </th>
            </tr>
        </thead>
        <tr>
            <td>&nbsp;</td>
            <td>CN:</td>
            <td>{{ group.cn }}</td>
        </tr>
        {% if group.gidNumber %}
        <tr>
            <td>&nbsp;</td>
            <td>GIDNumber:</td>
            <td>{{ group.gidNumber }}</td>
        </tr>
        {% endif %}
        <tr>
            <td>&nbsp;</td>
            <td>Type:</td>
            <td>{{ group.parent }}</td>
        </tr>
        <thead>
            <tr>
                <th colspan='3'>
                    Members <a href='{{ request.get_full_path }}/adduser'><i class="fas fa-user-plus"></i></a>
                </th>
            </tr>
        </thead>
        {% for member in group.members %}
        <tr>
            <td style="width: 32px;">
                <form method="post" action="{{ request.get_full_path }}/rmuser/{{ member }}">
                    {% csrf_token %}
                    <button style="border: none; background: none; display: inline;" class="far fa-minus-square text-primary"
                        {% if group.gidNumber %}
                            onclick="return confirm('Really remove user {{ member }} from group {{ group.cn }}?')"
                        {% else %}
                            onclick="return confirm('Really remove user {{ member }} from alias {{ group.cn }}?')"
                        {% endif %}
                    ></button>
                </form>
            </td>
            {% if group.gidNumber %}
            <td colspan='2'><a href='{% url 'displayUser' member %}'>{{ member }}</a></td>
            {% else %}
            <td colspan='2'>{{ member|aliaslink }}</td>
            {% endif %}
        </tr>
        {% endfor %} {% if group.gidNumber %}
        <thead>
            <tr>
                <th colspan='3'>
                    Primary Members
                </th>
            </tr>
        </thead>
        {% for member in group.getPrimaryMembers %}
        <tr>
            <td></td>
            <td colspan='2'><a href='{% url 'displayUsers' %}'>{{ member }}</a></td>
        </tr>
        {% endfor %} {% endif %}
    </table>
    <form method="post" action="{{ request.get_full_path }}/rm">
        {% csrf_token %}
        <button class="btn btn-danger" onclick="return confirm('Really remove {{ group.cn }}?')">Remove</button>
    </form>
</div>
{% endblock %}