{% extends "base.html" %}
{% block content %}
<ul>
   <li><a href="/userman2/users">Manage Existing User Accounts</a></li>
   <li><a href="/userman2/adduser">Add User Account</a></li>
   <li><a href="/userman2/addcomputer">Add Computer Account</a></li>
   <li><a href="/userman2/computers">Manage Existing Computer Accounts</a></li>
   <li><a href="/userman2/groups">Manage Groups</a></li>
   <li><a href="/userman2/aliases">Manage Aliases</a></li>
   <li><a href="/userman2/massmail">Send Mass Mail/Mass Removal Notice</a></li>
</ul>
{% endblock %}