{% extends "base.html" %}
{% block title %}CH User Manager — Review mass mail{% endblock %}
{% block content %}
<form action='' method='post'>
<table>
    <tr class='title'>
        <td>Recipients: {% for user in users %} {{ user }}, {% endfor %}
    </tr>
    <tr class='title'>
        <td>From: {{ fromaddress }}</td>
    </tr>
    <tr class='title'>
        <td>Subject: {{ subject }}</td>
    </tr>
    <tr class='title'>
        <td>Account removal warning: {{ removaldue }} {{removalunits}}</td>
    </tr>
    <tr class='title'>
        <td>Body: {{ body }}</td>
    </tr>
    <tr class='title'>
        <td>Confirm send: {{ form.reallysend }}</td>
    </tr>
</table>
{{ form.users }}
{{ form.fromaddress }}
{{ form.subject }}
{{ form.body }}
{{ form.removaldue }}
{{ form.removalunits }}
<input type='submit' value='Send'/>
</form>
{% endblock %}
