{% extends "base.html" %}
{% load userman_tags %}
{% block title %}Userman2 — Editing {{ user.uid }}{% endblock %}
{% load static %}
{% block content %}
<div id="app">
    {% verbatim %}
    <div v-if="password" class="alert alert-success" role="alert">
        <p>Password has been successfully reset to: <code>{{ password }}</code></p>
    </div>
    {% endverbatim %}

    <table class="table">
        <thead>
            <th colspan='3'>
                General Information
            </th>
        </tr>
        <tr>
            <td style="width: 32px;"><a href='{{ request.get_full_path }}/chuid'><i class="far fa-edit"></i></a></td>
            <td style="width: 11em;">UID</td>
            <td>{{ user.uid }}</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>UID Number</td>
            <td>{{ user.uidNumber }}</td>
        </tr>
        <tr>
            <td rowspan='4'><a href='{{ request.get_full_path }}/chfn'><i class="far fa-edit"></i></a></td>
            <td>Full Name</td>
            <td>{{ user.gecos.full_name }}</td>
        </tr>
        <tr>
            <td>Room Number</td>
            <td>{{ user.gecos.room_number }}</td>
        </tr>
        <tr>
            <td>Work Phone</td>
            <td>{{ user.gecos.work_phone }}</td>
        </tr>
        <tr>
            <td>Home Phone</td>
            <td>{{ user.gecos.home_phone }}</td>
        </tr>
        <tr>
            <td><a href='{{ request.get_full_path }}/chdesc'><i class="far fa-edit"></i></a></td>
            <td>Description</td>
            <td>{{ user.description }}</td>
        </tr>
        <tr>
            <td><a href='{{ request.get_full_path }}/chwarnrm'><i class="far fa-edit"></i></a></td>
            <td>Removal date</td>
            <td>{{ user.toBeDeleted }}</td>
        </tr>
        <tr>
            <td><a href='{{ request.get_full_path }}/chsh'><i class="far fa-edit"></i></a></td>
            <td>Login Shell</td>
            <td>{{ user.loginShell }}</td>
        </tr>
        <tr>
            <td><a href='{{ request.get_full_path }}/chhomeank'><i class="far fa-edit"></i></a></td>
            <td>Home Directory</td>
            <td>{{ user.homeDirectoryAnk }}</td>
        </tr>
        <tr>
            <td><a href='{{ request.get_full_path }}/chhomech'><i class="far fa-edit"></i></a></td>
            <td>Home Directory (CH)</td>
            <td>{{ user.homeDirectoryCH }}</td>
        </tr>
        <tr>
            <td><a href='{{ request.get_full_path }}/chgroup'><i class="far fa-edit"></i></a></td>
            <td>Primary Group ID</td>
            <td>
                {{ user.gidNumber }}
                (<a href='/groups/{{ user.gidNumber|groupname }}'>{{ user.gidNumber|groupname }}</a>)
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>Dienst2</td>
            <td><dienst2 v-if="dienst2status" :status="dienst2status" :full_name="full_name"></dienst2></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><a href='/groups?uid={{ user.uid }}'>Groups</a></td>
            <td>{% for group in user.getSecondaryGroups %}
                <a href='{% url 'displayGroup' group %}'>{{ group }}</a> {% endfor %}</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><a href='/aliases?uid={{ user.uid }}'>Aliases</a></td>
            <td>{% for alias in user.getDirectAliases %}
                <a href='{% url 'displayAlias' alias %}'>{{ alias }}</a> {% endfor %}</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><a href='/aliases?uid={{ user.uid }}'>Indirect Aliases</a></td>
            <td>{% for alias in user.getIndirectAliases %}
                <a href='{% url 'displayAlias' alias %}'>{{ alias }}</a> {% endfor %}</td>
        </tr>
        <thead>
            <th colspan='3'>
                Authorized Services <a href='{{ request.get_full_path }}/chpriv'><i class="far fa-edit"></i></a>
            </th>
        </tr>
        {% for service in user.authorizedServices %}
            <tr>
                <td></td>
                <td>Service</td>
                <td>{{ service }}</td>
            </tr>
        {% endfor %}
    </table>

    <p>
    <ul>
        <li><a href='{{ request.get_full_path }}/chpasswd'>Change user's password</a></li>
    </ul>
    </p>

    <button class="btn btn-warning" @click.prevent="resetPassword">
        Reset password
    </button>
    <form method="post" action="{{ request.get_full_path }}/removeprofile">
        {% csrf_token %}
        <button class="btn btn-warning" onclick="return confirm('Remove profile for {{ user.uid }}?')">
            Remove user's profile
        </button>
    </form>
    <form method="post" action="{{ request.get_full_path }}/rm">
        {% csrf_token %}
        <button class="btn btn-danger" onclick="return confirm('Remove user {{ user.uid }}?')">
            Remove user
        </button>
    </form>
</div>

<script type="text/javascript">
    const app = new Vue({
        el: '#app',
        data: {
            username: '{{ user.uid }}',
            full_name: '{{ user.gecos.full_name }}',
            dienst2status: undefined,
            password: undefined,
            csrf_token: '{{ csrf_token }}',
        },
        async created() {
            const response = await fetch('/users/' + this.username + '/dienst2status.json')
            this.dienst2status = await response.json()
        },
        methods: {
            async resetPassword() {
                if (!confirm(`Reset password for ${this.username}?`)) {
                    return
                }
                const response = await fetch(
                    '/users/' + this.username + '/resetpasswd.json', {
                        method: 'POST',
                        headers: {'X-CSRFToken': this.csrf_token}
                    })
                const json = await response.json()
                this.password = json.password
            },
        }
    })
</script>
{% endblock %}
