{% extends "base.html" %}
{% block title %}Userman2 — Users{% endblock %}
{% block content %}
{% verbatim %}
<div id="app">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th style="width: 32px;">&nbsp;</th>
                <th>Username <a href='/adduser'><i class="far fa-plus-square"></i></a></th>
                <th>Full Name</th>
                <th>UID</th>
                <th style="width: 18em;">
                    Dienst2 Status
                    <a v-if="showSyncIcon && !syncing" href="#" @click.prevent="fetchDienst2Status"><i class="fas fa-sync-alt"></i></a>
                    <i v-if="syncing" class="fas fa-sync-alt spinner"></i></a>
                </th>
            </tr>
            <tr>
                <td style="width: 32px; vertical-align: middle;"><i class="fas fa-search"></i></td>
                <td><input type="search" class="form-control" placeholder="Filter by Username" v-model="filterUsername"></td>
                <td><input type="search" class="form-control" placeholder="Filter by Full Name" v-model="filterFullname"></td>
                <td><input type="search" class="form-control" placeholder="Filter by UID" v-model="filterUid"></td>
                <td>
                    <select v-model="filterDienst2status" class="form-control" :disabled="showSyncIcon">
                        <option value="">Filter by Dienst2 Status</option>
                        <option value="success">Active member</option>
                        <option value="warning">Not an active member</option>
                        <option value="error">Username not found in Dienst2</option>
                    </select>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr v-for="user in filterUsers" @click="link(user)" style="cursor: pointer">
                <td><a :href="'/users/' + user.name"><i class="far fa-edit"></i></a></td>
                <td>{{ user.name }}</td>
                <td>{{ user.full_name }}</td>
                <td>{{ user.uid }}</td>
                <td v-if="user.dienst2status">
                    <dienst2 :status="user.dienst2status" :full_name="user.full_name"></dienst2>
                </td>
                <td v-else></td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    const app = new Vue({
        el: '#app',
        data: {
            users: [],
            syncing: false,
            filterUsername: '',
            filterFullname: '',
            filterUid: '',
            filterDienst2status: '',
        },
        async created() {
            const response = await fetch('/users.json');
            const users = await response.json();
            this.users = users;
        },
        computed: {
            filterUsers() {
                return this.users.filter((user) =>
                    (this.filterUsername == '' || user.name.toLowerCase().includes(this.filterUsername.toLowerCase())) &&
                    (this.filterFullname == '' || user.full_name.toLowerCase().includes(this.filterFullname.toLowerCase())) &&
                    (this.filterUid == '' || user.uid == this.filterUid) &&
                    (this.filterDienst2status == '' || !user.dienst2status || user.dienst2status.status == this.filterDienst2status)
                );
            },
            showSyncIcon() {
                const show = !this.syncing && this.filterUsers.some((user) => !user.dienst2status);
                if (show) {
                    this.filterDienst2status = '';
                }
                return show;
            },
        },
        methods: {
            link(user) {
                window.location.href = '/users/' + user.name;
            },
            async fetchDienst2Status() {
                this.syncing = true;
                let users = this.filterUsers;
                let promises = [];
                for (const [i, user] of users.entries()) {
                    promises.push(fetch('/users/' + user.name + '/dienst2status.json')
                        .then(response => response.json())
                        .then(json => this.$set(users[i], 'dienst2status', json)));
                }
                await Promise.all(promises);
                this.syncing = false;
            },
        }
    })
</script>
{% endverbatim %}
{% endblock %}
