{% extends "base.html" %}
{% block title %}Userman2 — User privileges for {{ user.cn }}{% endblock %}
{% load static %}
{% block content %}
<form method="post" action="">
    <table class="table">
        <thead>
            <tr>
                <th colspan='2'>
                    Current services
                </th>
            </tr>
        </thead>
        {% for service in user.authorizedServices %}
        <tr>
            <td style="width: 32px;"><a href='rm/{{ service }}/'><i class="far fa-minus-square"></i></td>
            <td colspan='2'>{{ service }}</td>
        </tr>
        {% endfor %}
        <thead>
            <tr>
                <th colspan='2'>
                        Add authorized service
                </th>
            </tr>
        </thead>
        <tr>
            <td colspan="2">
                {{ form.service }}
                <br />
                <small>Note: always add systemd-user@host in addition to sshd@host access.</small>
            </td>
        </tr>
    </table>
    <button class="btn btn-primary">Submit</button>
</form>
{% endblock %}