{% extends "base.html" %}
{% block title %}CH User Manager — User privileges for {{ user.cn }}{% endblock %}
{% load static %}
{% block content %}
    <form method="post" action="">
        <table>
            <tr class='title'>
                <td colspan='2'>
                    <h3>Current services:</h3>
                </td>
            </tr>
            {% for service in user.authorizedServices %}
                <tr>
                    <td><a href='rm/{{ service }}'><img
                            src='{% get_static_prefix %}delete.png' alt='Delete'></a></td>
                    <td colspan='2'>{{ service }}</td>
                </tr>
            {% endfor %}
            <tr class='title'>
                <td colspan='2'>
                    <h3>Add authorized service:</h3>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>{{ form.service }}@{{ form.server }}<br/>
                    <small>Note: always add systemd-user@host in addition to sshd@host access.</small>
                </td>
            </tr>
        </table>
        <input type="submit"/><input type="reset"/></form>
{% endblock %}
