{% extends "base.html" %} {% block title %}Manage Users{% endblock %}
{% block content %}
<form action='' method='get'>
<table>
	<tr class='title'>
		<td><input type='image' src='/site_media/filter.gif' alt='Filter' /></td>
		<td>CH L {{ form.chlocal }}{{ form.nochlocal }}</td>
		<td>Ank L {{ form.anklocal }}{{ form.noanklocal }}</td>
		<td>Ank S {{ form.anksamba }}{{ form.noanksamba }}</td>
	</tr>
	<tr class='title'>
		<td>&nbsp;</td>
		<td>Groups</td>
		<td>Excl. Groups</td>
		<td>Users</td>
		<td>Excl. Users</td>
	</tr>
	<tr class='title'>
		<td>&nbsp;</td>
		<td>{{ form.groups }}</td>
		<td>{{ form.excludedgroups }}</td>
		<td>{{ form.users }}</td>
		<td>{{ form.excludedusers }}</td>
	</tr>
</table>
<input type='submit' value='filter'/>
</form>
<table>
	<tr class='title'>
		<td>UID</td>
		<td>Common Name</td>
		<td>CH L</td>
		<td>Ank L</td>
		<td>Ank S</td>
	</tr>
	{% for user in users %}
	<tr class='{% cycle odd,even %}'>
		<td>{{ user.uid }}</td>
		<td>{{ user.gecos.full_name|default:"&nbsp;" }}</td>
		<td>{% if user.chLocal %}+{% else %}-{% endif %}</td>
		<td>{% if user.ankLocal %}+{% else %}-{% endif %}</td>
		<td>{% if user.ankSamba %}+{% else %}-{% endif %}</td>
	</tr>
	{% endfor %}
	<tr class='total'>
		<td>Total:</td>
		<td colspan='6'>{{ count.total }}</td>
	</tr>
</table>
<form action='writemail/' method='get'>
{% for user in users %}
    <input type='hidden' name='users' value='{{ user.uid }}'/>
{% endfor %}
    <input type='hidden' name='fromaddress' value='beheer@ch.tudelft.nl'/>
    <input type='submit' value='continue'/>	
</form>
{% endblock %}
