TEMPLATE_DEBUG = DEBUG = True

SECRET_KEY = 'CHANGEME'
LDAP_PASSWORD = 'CHANGEME'
DIENST2_BASEURL = 'https://dienst2.ch.tudelft.nl'
DIENST2_APIKEY = 'CHANGEME'
DIENST2_WHITELIST = ['root','nobody']
SSH_ANK_PRIVKEY_FILE = 'CHANGEME'
