form {
    display: inline;
}

table.group {
    margin: 0 5px 5px 0;
    float: left;
    width: 19%;
}

footer {
    background: #eee;
    bottom: 0;
    width: 100%;
    margin-top: 2em;
    padding: 1em;
}

.copyright {
    float: right;
    color: #999999;
}

.errormessage {
    border: 1px solid #8b0000;
    border-radius: 5px;
    background-color: #ffe6e6;
    padding: 1em 1em 0.3em;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

.spinner {
    animation: spinner 1.5s linear infinite;
}

.actions {
    padding-left: 0;
    list-style: none;
}

.actions .actions {
    padding-left: 1.5em;
}