table.group {
    margin: 0 5px 5px 5px;
    float: left;
    width: 19%;
}

table.groupfilter {
    margin: 0 0 0 5px;
    float: none;
}

footer {
    background: #eee;
    bottom: 0;
    width: 100%;
    margin-top: 2em;
    padding: 1em;
}

.copyright {
    float: right;
    color: #999999;
}

.errormessage {
    border: 1px solid #8b0000;
    background-color: #ffe6e6;
    padding: 0 1em;
}